$gray:        #313846;
$darkgray:    #21252D;
$purple:      #6664BC;
$blue:        #2C49AC;
$green:       #239558;
$darkorange:  #FF7843;
$orange:      #FF9900;
$yellow:      #D4FF00;
$lightpurple: #BCABFF;

@mixin bp($class) {
  @if $class == xs {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1536px) {
      @content;
    }
  }
}