$gray:           #313846;
$darkgray:       #21252D;
$green:          #239558;
$orange:         #FF9900;
$darkorange:     #FF7843;
$yellow:         #D4FF00;
$lightyellow:    #E2F582;
$blue:           #2C49AC;
$lightblue:      #6D8EFF;
$lightestblue:   #ACBFFF;
$purple:         #6664BC;
$lightpurple:    #BCABFF;
$lightestpurple: #d1c6fc;
$red:            #C1463E;

@mixin bp($class) {
  @if $class == xs {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1536px) {
      @content;
    }
  }
}