.window {
  position: relative;
  width: 100%;
  background-color: white;  
  transition: opacity .5s;
  opacity: 0;
  &.visible {
    opacity: 1;
  }

  @include bp(lg) {
    width: 50vw;
  }
}

.topbar {
  height: 48px;
  width: 100%;
  background: linear-gradient(white, lightgray);
  display: flex;
  align-items: center;
  z-index: 1;
  @include bp(sm) {
    height: 64px;
  }
}

.title {
  width: 100%;
  height: 100%;
  color: $darkgray;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include bp (sm) {
    font-size: 24px;
    height: 64px;
  }
}

.content {
  padding: 8px;
  gap: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: transform .25s;
  @include bp(md) {
    padding: 16px;
    gap: 16px;
  }
}