* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-family: 'Inter', Helvetica, sans-serif;
  height: 100dvh;
}

.main-content {
  padding: 16px;
  flex: 1;
  display: inherit;
  flex-direction: inherit;
  box-sizing: border-box;

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  @include bp(sm) {
    padding: 32px;
    border: 16px solid transparent;

    p {
      font-size: 24px;
      line-height: calc(32 / 24);
    }
  }

  @include bp(md) {
    padding: 48px;
  }
  
  @include bp(lg) {
    padding: 64px;
    p {
      font-size: 32px;
      line-height: 1.5;
    }
  }
}

.bio-link {
  color: $yellow;
  white-space: nowrap;
  animation: hue-rotate 5s linear infinite;

  &:hover {
    color: $darkgray;
    background-color: $yellow;
    animation: hue-rotate 5s linear reverse infinite;
  }
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
