* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  border-radius: 0;
}

body {
  background-color: $purple;
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: $purple;
  font-family: 'Inter', Helvetica, sans-serif;
}

.main-content {
  display: inherit;
  flex-direction: inherit;
  flex: 1;
  border: 8px solid transparent;
  box-sizing: border-box;

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  @include bp(sm) {
    border: 16px solid transparent;

    p {
      font-size: 24px;
      line-height: calc(32 / 24);
    }
  }

  @include bp(lg) {
    p {
      font-size: 32px;
      line-height: 1.5;
    }
  }
}

section {
  padding: 24px;

  @include bp(sm) {
    padding: 32px;
  }

  @include bp(md) {
    padding: 40px;
  }
  
  @include bp(lg) {
    padding: 56px;
  }
}