* {
  margin: 0;
  padding: 0;
}

.main-content {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: $purple;
  font-family: Helvetica, sans-serif;
}

.page-content {
  flex: 1;
  border: 16px solid transparent;
  box-sizing: border-box;
}